

@{
    ViewBag.Title = "Home Page";
}

<style>
    table {
        border: 1px solid black;
    }

    th {
        padding: 15px;
        text-align: left;
        border-bottom: 2px solid grey;
        background-color: black;
        color: aliceblue;
        border: 1px solid black;
        font-size: 26px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    td {
        padding: 15px;
        text-align: left;
        border-bottom: .5px solid grey;
        background-color: aliceblue;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<div class="jumbotron">
    <h1>Perk-Up Coffee+</h1>
    <p class="lead">Have a Perky Good Time!</p>
    <p><a href="~/Home/MenuList" class="btn btn-primary btn-lg">Click To View Menu&raquo;</a></p>
</div>